.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* remove outline */
.ProseMirror:focus {
  border-bottom: 1px solid black;
}
/* set */
.ProseMirror {        
  min-width:100px;
  text-align: center;
  overflow: scroll;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#wordCard{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  outline: #282c34 1px solid;
  padding: 1.5%;
  margin: top 50px;
}

.home{
  height: 600px;
}

#editor{
  float: left;
}

#icon{
  float: right;
}

#wordDisplay{
  float: left;
  width: 45%;
  padding:2%; 
}

#conjugateButton{
  margin:auto;
  padding:5%;
}

#tenseDisplay{
  float: right;
  width: 45%;
  padding: 2%;
  text-align: center;
}
#homebox{
  display:flex;
  background-color: aliceblue;
  justify-content: space-between;

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#gameshow-box{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#question-box{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
